<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Branding &#8211; Dizme</title>
	<atom:link href="https://shtheme.com/demosd/dizme/?feed=rss2&#038;tag=branding" rel="self" type="application/rss+xml" />
	<link>https://shtheme.com/demosd/dizme</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Tue, 31 May 2022 05:17:21 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.4.1</generator>
	<item>
		<title>How to make a website using WordPress</title>
		<link>https://shtheme.com/demosd/dizme/?p=21</link>
					<comments>https://shtheme.com/demosd/dizme/?p=21#comments</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 19 Apr 2022 04:04:10 +0000</pubDate>
				<category><![CDATA[Critical Analysis]]></category>
		<category><![CDATA[Branding]]></category>
		<category><![CDATA[Design]]></category>
		<guid isPermaLink="false">https://shtheme.com/demosd/dizme/?p=21</guid>

					<description><![CDATA[Branding requires mapping a series of steps in the customer journey, which start from the point of consideration from a potential buyer and goes all the way to ensure that once someone purchases the product, he is serviced when there is a problem. This is where customer service as a brand building opportunity comes in. [&#8230;]]]></description>
										<content:encoded><![CDATA[<div class="descriptions">
	<p>Branding requires mapping a series of steps in the customer journey, which start from the point of consideration from a potential buyer and goes all the way to ensure that once someone purchases the product, he is serviced when there is a problem.</p>
	<p>This is where customer service as a brand building opportunity comes in. Many do not consider this as branding and think brand building stops when a sales transaction has happened. The end objective for most marketers is that moment of truth when the customer signs on the dotted line to complete the sale. That is, in fact, marketing which is a small part of the big branding challenge.</p>
	<blockquote>The biggest hurdle for most companies is that they have no vision for creating a customer-centric business model, whereby they can use opportunities like customer service to build brand equity.</blockquote>
	<p>At this stage you continue trusting the brand and reach out to customer support with confidence. If no one picks up the phone or you get hung up or are simply made to hold on, the frustration level starts building. You are already unhappy with the product and the customer service department seems oblivious of your irritation.</p>
	<p>For them you are just a query or a ticket number that they may eventually need to handle. What they have missed is that your query is linked to the product you purchased which is further linked to the larger customer journey that you are a part of. Most of the time companies fail to recognize such simple truths and this has a huge bearing on the brand equity.</p>
	<p>At other times most of the responses received from customer support are not helpful because they follow a process that usually throws standard answers to most problems which seems robotic for a problem that is human. Such transactional treatment fails to understand the emotions behind a customer reaching out to the brand he trusted. To that extent there are extremely few brands that try and truly get behind the problem.</p>
</div>]]></content:encoded>
					
					<wfw:commentRss>https://shtheme.com/demosd/dizme/?feed=rss2&#038;p=21</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Digital experts get multiple job offers</title>
		<link>https://shtheme.com/demosd/dizme/?p=7</link>
					<comments>https://shtheme.com/demosd/dizme/?p=7#comments</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 19 Apr 2022 03:49:20 +0000</pubDate>
				<category><![CDATA[Business Management]]></category>
		<category><![CDATA[Bootstrap]]></category>
		<category><![CDATA[Branding]]></category>
		<category><![CDATA[Design]]></category>
		<category><![CDATA[Lifestyle]]></category>
		<category><![CDATA[Personal]]></category>
		<category><![CDATA[Portfolio]]></category>
		<category><![CDATA[Social]]></category>
		<category><![CDATA[WordPress]]></category>
		<guid isPermaLink="false">https://shtheme.com/demosd/dizme/?p=7</guid>

					<description><![CDATA[Branding requires mapping a series of steps in the customer journey, which start from the point of consideration from a potential buyer and goes all the way to ensure that once someone purchases the product, he is serviced when there is a problem. This is where customer service as a brand building opportunity comes in. [&#8230;]]]></description>
										<content:encoded><![CDATA[<div class="descriptions">
	<p>Branding requires mapping a series of steps in the customer journey, which start from the point of consideration from a potential buyer and goes all the way to ensure that once someone purchases the product, he is serviced when there is a problem.</p>
	<p>This is where customer service as a brand building opportunity comes in. Many do not consider this as branding and think brand building stops when a sales transaction has happened. The end objective for most marketers is that moment of truth when the customer signs on the dotted line to complete the sale. That is, in fact, marketing which is a small part of the big branding challenge.</p>
	<blockquote>The biggest hurdle for most companies is that they have no vision for creating a customer-centric business model, whereby they can use opportunities like customer service to build brand equity.</blockquote>
	<p>At this stage you continue trusting the brand and reach out to customer support with confidence. If no one picks up the phone or you get hung up or are simply made to hold on, the frustration level starts building. You are already unhappy with the product and the customer service department seems oblivious of your irritation.</p>
	<p>For them you are just a query or a ticket number that they may eventually need to handle. What they have missed is that your query is linked to the product you purchased which is further linked to the larger customer journey that you are a part of. Most of the time companies fail to recognize such simple truths and this has a huge bearing on the brand equity.</p>
	<p>At other times most of the responses received from customer support are not helpful because they follow a process that usually throws standard answers to most problems which seems robotic for a problem that is human. Such transactional treatment fails to understand the emotions behind a customer reaching out to the brand he trusted. To that extent there are extremely few brands that try and truly get behind the problem.</p>
</div>]]></content:encoded>
					
					<wfw:commentRss>https://shtheme.com/demosd/dizme/?feed=rss2&#038;p=7</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
